@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

.address-tracker {
  font-family: "DM Sans", sans-serif;
  min-width: 310px;
  position: relative;
}
.address-tracker__header {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/pattern-bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: visible;
  box-shadow: 15px 15px 27px -22px hsl(0deg, 0%, 0%);
  z-index: 2;
}
@media (max-width: 580px) {
  .address-tracker__header {
    height: 300px;
  }
}
.address-tracker__header h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.9em;
  padding: 0.125em 0 0.375em 0;
}
@media (max-width: 580px) {
  .address-tracker__header h1 {
    font-size: 1.65em;
  }
}
.address-tracker__input {
  height: 58px;
  width: 550px;
  display: flex;
  box-shadow: 10px 10px 27px -22px hsl(0deg, 0%, 0%);
}
@media (max-width: 580px) {
  .address-tracker__input {
    width: 90%;
    min-width: 90%;
  }
}
.address-tracker__input input {
  flex-basis: 90%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 1em 0 0 1em;
  border: none;
  color: hsl(0deg, 0%, 17%);
  letter-spacing: 1px;
  font-family: inherit;
}
.address-tracker__input input:focus {
  outline: none;
}
.address-tracker__input button {
  flex-basis: 10%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 0 1em 1em 0;
  border: none;
  background-color: hsl(0deg, 0%, 0%);
  background-image: url(../images/icon-arrow.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.1s all;
}
.address-tracker__input button:hover {
  background-color: hsl(0deg, 0%, 17%);
}
.address-tracker__output {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 200px;
  flex-direction: row;
  width: 1100px;
  height: 160px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1em;
  box-shadow: 10px 10px 27px -22px hsl(0deg, 0%, 0%);
}
@media (max-width: 1130px) {
  .address-tracker__output {
    width: calc(100vw - 30px);
    height: auto;
    min-height: 14.5vw;
    top: calc(280px - 5.25vw);
  }
}
@media (max-width: 720px) {
  .address-tracker__output {
    min-height: 32vw;
    top: 195px;
    flex-wrap: wrap;
  }
}
@media (max-width: 580px) {
  .address-tracker__output {
    top: 165px;
    min-height: 295px;
    min-width: 90%;
    flex-direction: column;
    text-align: center;
    padding: 6vw 6vw 3vw 6vw;
    box-sizing: border-box;
  }
}
.address-tracker__output div {
  flex-basis: 25%;
  padding: 2em;
  position: relative;
}
@media (max-width: 1130px) {
  .address-tracker__output div {
    padding: 2.8vw;
  }
}
@media (max-width: 720px) {
  .address-tracker__output div {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 3.8vw;
  }
}
@media (max-width: 580px) {
  .address-tracker__output div {
    margin-bottom: auto;
    padding: 0 0 2vw 0;
  }
  .address-tracker__output div:last-child {
    padding: 0;
  }
}
.address-tracker__output div h2 {
  color: hsl(0deg, 0%, 59%);
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
}
@media (max-width: 1130px) {
  .address-tracker__output div h2 {
    font-size: 1.05vw;
  }
}
@media (max-width: 720px) {
  .address-tracker__output div h2 {
    font-size: 1.8vw;
  }
}
@media (max-width: 580px) {
  .address-tracker__output div h2 {
    font-size: max(2.5vw, 0.6rem);
  }
}
.address-tracker__output div p {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.5em 0;
}
@media (max-width: 1130px) {
  .address-tracker__output div p {
    font-size: 2.1vw;
  }
}
@media (max-width: 720px) {
  .address-tracker__output div p {
    font-size: 2.8vw;
  }
}
@media (max-width: 580px) {
  .address-tracker__output div p {
    font-size: max(5vw, 1.2rem);
    margin-top: 0.25em;
  }
}
.address-tracker__output div:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 50%;
  background-color: hsl(0deg, 0%, 59%);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media (max-width: 720px) {
  .address-tracker__output div:nth-child(2)::after {
    display: none;
  }
}
@media (max-width: 580px) {
  .address-tracker__output div:not(:last-child)::after {
    display: none;
  }
}
@media (max-width: 1130px) {
  .address-tracker__map {
    min-height: 300px;
  }
}

.attribution {
  z-index: 1;
  width: fit-content;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  font-family: DM Sans, sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0px 0px 12px -3px hsl(0deg, 0%, 0%);
}

/*# sourceMappingURL=style.css.map */
