@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/DMSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}